@model IEnumerable<MVC5.Models.CoursesReport1VM>

@{
    ViewBag.Title = "CoursesReport1";
}

<h2>CoursesReport1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgGrade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgGrade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
