@model HandleErrorInfo

<h1>錯誤。</h1>
<h2>處理您的要求時發生錯誤。</h2>

<hr />

<pre>@Model.ControllerName</pre>

<pre>@Model.ActionName</pre>

<pre>@Model.Exception.Message</pre>

<pre>@Model.Exception.StackTrace</pre>

<pre>@Model.Exception.ToString()</pre> 